@if (Value != 0)
{
    <div class="icon-container" style="display: inline-block;margin-right: 5px;">
        <img src="@IconUrl" />
        <p>@Value</p>
    </div>
}
else
{
    <img style="margin-right: 5px;" src="@IconUrl" />
}

@code {
    [Parameter]
    public string? IconUrl { get; set; }
    [Parameter]
    public int Value { get; set; }
    protected override void OnParametersSet()
    {
        IconUrl += ".png";
        base.OnParametersSet();
    }
}
