@if (Enemy is not null) {
    <div class="enemy">
        <style>
            .icon {
                background-image: url("images/scenarios/@Enemy.ImagePath");
            }
        </style>
        <div class="wrapper">
            <ActionColorDisplay IsEnemy="true" Entity="@Enemy" />
            <div class="enemy-name">@Enemy.Name</div>
            <div style="@iconPosition" class="banner icon" />
        </div>
        @if (Enemy.AttackSymbol != AttackSymbol.None)
        {
            <div style="@attackPosition @width" class="attack icon" />
        }
    </div>
}
@code {
    [Inject]
    public CombatController? controller { get; set; }
    [Parameter]
    public Enemy? Enemy { get; set; }

    private string attackPosition = "";
    private string iconPosition = "";
    private string width = "";
    protected override void OnParametersSet()
    {
        // iconPosition = $"background-position: right {}px top {}px";
        SetAttackPosition();
        SetIconPosition();
        base.OnParametersSet();
    }
    private void SetAttackPosition()
    {
        if (Enemy is null) return;
        int CARD_WIDTH = 810, CARD_HEIGHT = 1415;
        int X_OFFSET = -225, Y_OFFSET = -30;
        int finalYPosition = Y_OFFSET - (Enemy.PositionY * CARD_HEIGHT);
        int finalXPosition = X_OFFSET - (Enemy.PositionX * CARD_WIDTH);
        // Also include calculations for shifting for Attack Symbol
        switch (Enemy!.AttackSymbol)
        {
            case AttackSymbol.FullyOpen: break;
            case AttackSymbol.HalfOpen: finalXPosition -= 200; break;
            case AttackSymbol.Squint: finalXPosition -= 400; break;
        }
        if (Enemy.Modifier == Modifier.None)
        {
            width = "width: 550px;";
            finalYPosition -= 240;
        }
        else if (Enemy.Modifier == Modifier.Horns || Enemy.Modifier == Modifier.SnakeAndHorns)
        {
            width = "width: 790px;";
        }
        attackPosition = $"background-position: right {finalYPosition}px top {finalXPosition}px;";
    }
    private void SetIconPosition()
    {
        //554 594
        //327 367
        if (Enemy is null) return;
        int CARD_WIDTH = 267, CARD_HEIGHT = 0;
        int X_OFFSET = -60, Y_OFFSET = -280;
        int finalYPosition = Y_OFFSET - (Enemy.PositionY * CARD_HEIGHT);
        int finalXPosition = X_OFFSET - (Enemy.PositionX * CARD_WIDTH);
        iconPosition = $"background-position: right {finalYPosition}px top {finalXPosition}px";
    }
}
