@if (Enemy is not null) {
    <div class="enemy">
        <div class="wrapper">
            <ActionColorDisplay IsEnemy="true" Entity="@Enemy" />
            <div class="enemy-name">@Enemy.Name</div>
            <!-- Icon -->
        </div>
        @if (Enemy.SelectedAttackSymbol != AttackSymbol.None)
        {
            <!-- Attack Display -->
        }
        <button class="btn btn-primary" @onclick="AddEnemy">+</button>
        @foreach (var enemyInstance in enemyInstances)
        {
            <EnemyInstanceComponent Instance="@enemyInstance" />
        }
    </div>
}
@code {
    // TODO: Refactor to remove SetAttack and Icon Position methods
    // TODO: Add raw text display for enemy instructions
    // TODO: Figure out how to parse the % icons within the Text property
    [Inject]
    public CombatController? controller { get; set; }
    [Parameter]
    public Enemy? Enemy { get; set; }

    private List<EnemyInstance> enemyInstances = new();

    private void AddEnemy()
    {
        enemyInstances.Add(new EnemyInstance(controller!.GetPlayerCount(), Enemy!));
    }
}
