.enemy {
    background-color: rgb(58, 41, 83);
    border: 2px solid rgb(213, 179, 69);
    border-radius: 10px;
    margin: 10px;
    display: flex;
}
.enemy img {
    width: 175px;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #126192;
    border: 2px solid #b3ac5e;
}
.header div {
    display: inline-block;
    vertical-align: top;
}
.enemy-info {
    width: 250px;
    height: 275px;
    position: relative;
    margin: 10px;
    background-color: #dad4b4;
}
.enemy-name {
    color: white;
    font-size: 1.3rem;
    padding: 5px;
}
.stack div {
    display: block;
    color: white;
}
hr {
    margin: 0.5px 0 0.5px;
    background-color: white;
}
.tags {
    font-size: 0.85rem;
}
