@if (EnemyAttack is not null) {
    <div class="action-icon">
        <table>
            <tr>
                <td><AttackSymbolDisplay AttackSymbolToDisplay="@EnemyAttack.AttackSymbol" /></td>
                <td>
                    <div class="attack-icon"></div>
                    Web
                </td>
                <td>
                    <div class="horns-icon"></div>
                    Reach
                </td>
            </tr>
            <tr>
                <td>@EnemyAttack.Movement</td>
                <td>
                    <div class="range-2"></div>
                    <div class="web-debuff"></div>
                </td>
                <td>
                    <div class="range"></div>
                    +1
                </td>
            </tr>
        </table>
    </div>
}
@code {
    [Parameter]
    public EnemyAttack? EnemyAttack { get; set; }
}