@if (Enemy is not null) {
    <div class="enemy">
        <div class="banner">
            <ActionColorDisplay IsEnemy="true" Color="@Enemy.ActionColor" />
            <div class="enemy-name">@Enemy.Name</div>
        </div>
        <div style='background-image: url("images/monsters/@Enemy.ImagePath");' class="@Enemy.AttackSymbol.ToString()" />
    </div>
}
@code {
    [Parameter]
    public Enemy? Enemy { get; set; }
}
