@if (Enemy is not null) {
    <div class="enemy">
        <div class="wrapper">
            <ActionColorDisplay />
            <div class="enemy-name">@Enemy.Name</div>
            <img src="@iconUrl" />
        </div>
        @if (Enemy.SelectedAttackSymbol != AttackSymbol.None)
        {
            <AttackComponent />
        }
        <button class="btn btn-primary" @onclick="AddEnemy">+</button>
        @foreach (var enemyInstance in enemyInstances)
        {
            <EnemyInstanceComponent Instance="@enemyInstance" />
        }
    </div>
}
@code {
    // TODO: Figure out how to parse the % icons within the Text property
    [Inject]
    public CombatController? controller { get; set; }
    [CascadingParameter]
    public Enemy? Enemy { get; set; }

    private string iconUrl = "";

    protected override void OnParametersSet()
    {
        iconUrl = "images/s" + controller?.ScenarioNumber + "_" + Enemy?.Name?.Replace("%20", "_") + ".png";
        base.OnParametersSet();
    }

    private List<EnemyInstance> enemyInstances = new();

    private void AddEnemy()
    {
        enemyInstances.Add(new EnemyInstance(controller!.GetPlayerCount(), Enemy!));
    }
}
