@if (Enemy is not null) {
    <table>
        <tr>
            <td rowspan="2">
                <ActionColorDisplay IsEnemy="true" Color="Enemy.ActionColor" />
            </td>
            <td>
                @Enemy.Name
            </td>
        </tr>
    </table>
}
@code {
    [Parameter]
    public Enemy? Enemy { get; set; }
}
