.enemy {
    background-color: rgb(58, 41, 83);
    border: 2px solid rgb(213, 179, 69);
    border-radius: 10px;
    margin: 10px;
    display: flex;
}
.banner {
    margin: 10px;
    display: flex;
    background-color: rgb(113, 162, 70);
    border: 2px solid rgb(213, 179, 69);
}
.HalfOpen, .FullyOpen, .Squint {
    width: 800px;
    height: 190px;
    background-position-x: -590px;
}
.Squint {
    background-position-y: 200px;
}
.HalfOpen {
    background-position-y: 400px;
}
.FullyOpen {
    background-position-y: 600px;
}

