@if (Enemy is not null) {
    <div class="enemy">
        <div class="banner">
            <ActionColorDisplay IsEnemy="true" Color="@Enemy.ActionColor" />
            <div class="enemy-name">@Enemy.Name</div>
        </div>
        <div class="action">
            <EnemyActionDisplay EnemyAttack="@Enemy.EnemyAttack" />
        </div>
    </div>
}
@code {
    [Parameter]
    public Enemy? Enemy { get; set; }
}
