@if (Hero is not null) {
    <div class="hero">
        <div class="banner">
            <ActionColorDisplay IsEnemy="false" Entity="@Hero" />
            @Hero.HeroClass.ToString()
            @if (controller?.ActiveCard?.Actions?.Where(c => c.ActionColor == Hero.ActionColor && c.EntityType == EntityType.Hero).First().Modifier == Modifier.ExtraManeuver)
            {
                <img src="images/extra-maneuver.png" />
            }
        </div>
    </div>
}
@code {
    [Inject]
    public CombatController? controller { get; set; }
    [Parameter]
    public Hero? Hero { get; set; }
}
