@if (Hero is not null) {
    <div class="hero">
        <div class="banner">
            <ActionColorDisplay IsEnemy="false" Color="@Hero.ActionColor" />
            @Hero.HeroClass.ToString()
        </div>
    </div>
}
@code {
    [Parameter]
    public Models.Hero? Hero { get; set; }
}
