@rendermode InteractiveServer
@page "/"
@using AgemoniaCombatHelper.Models

<PageTitle>Agemonia Combat Helper</PageTitle>
@foreach (var entity in controller.GetEntities())
{
    if (entity is Hero)
    {
        <HeroComponent @key="entity" Hero="(Hero)entity" />
    }
    else
    {
        <EnemyComponent @key="entity" Enemy="(Enemy)entity" />
    }
}

<button class="btn btn-primary" @onclick="ModalOpen">Modal!</button>
<AddHeroModal @ref="addHeroModal" />


@code{
    [Inject]
    public ICombatService controller { get; set; }

    public AddHeroModal? addHeroModal { get; set; }

    public Hero RedPlayer = new(HeroClass.Torrax, 1);
    public Hero GreenPlayer = new(HeroClass.Matajam, 1);
    public Hero BluePlayer = new(HeroClass.ZuvaSai, 1);

    public Enemy RedEnemy = new("Red Enemy", 5, 0);
    public Enemy GreenEnemy = new("Green Enemy", 5, 0);
    public Enemy BlueEnemy = new("Blue Enemy", 5, 0);

    protected override void OnInitialized() 
    {
        RedPlayer.ActionColor = ActionColor.Red;
        BluePlayer.ActionColor = ActionColor.Blue;
        GreenPlayer.ActionColor = ActionColor.Green;

        RedEnemy.ActionColor = ActionColor.Red;
        BlueEnemy.ActionColor = ActionColor.Blue;
        GreenEnemy.ActionColor = ActionColor.Green;

        RedEnemy.EnemyAttack = new(5, AttackSymbol.HalfOpen, new(Models.Attribute.Agility, 3));
        BlueEnemy.EnemyAttack = new(5, AttackSymbol.HalfOpen, new(Models.Attribute.Agility, 3));
        GreenEnemy.EnemyAttack = new(5, AttackSymbol.HalfOpen, new(Models.Attribute.Agility, 3));

        controller.AddHero(RedPlayer);
        controller.AddHero(GreenPlayer);
        controller.AddHero(BluePlayer);

        controller.AddEnemy(RedEnemy);
        controller.AddEnemy(GreenEnemy);
        controller.AddEnemy(BlueEnemy);

        controller.DrawNewCard();

        base.OnInitialized();
    }
    private void ModalOpen()
    {
        addHeroModal.Open();
    }
}
